@import "./assets/scss/colors.scss";

body {
  padding: 0;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $light-gray-color;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: $dark-gray-color;
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: $white-color;
}
